/* importamos fuente Doto */
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Inconsolata:wght@200..900&display=swap');

/* aquí podemos declarar variables que reutilizaremos a lo largo del proyecto */
:root {
    --color-principal: greenyellow;
    --color-fuente-oscura: rgb(62, 61, 61);
    --color-fuente-clara: #f9faf8;  
    --color-fondo-transparencia: rgba(149, 145, 145, 0.7);
 }
/* estilos del selector universal */
*{
margin:0;
padding: 0;
box-sizing: border-box;
font-family:  monospace;

}
/* estilos del body */
body{
    background: linear-gradient(45deg, rgba(106,147,191,1) 0%, rgba(227,160,211,1) 100%);  
}
/* estilos del header */
header{
    background: linear-gradient(45deg, rgb(56, 74, 94) 0%, rgba(227,160,211,1) 100%);  
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 10vh;
}
#logo-link{
    text-decoration: none;
}
.logo-mensaje-container{
    margin-left: 2vw;
    height: 10vh;
    display: flex;
    align-items: center;
    gap:20px
}
.logo-mensaje-container:hover{
    text-shadow: 0 0 5px var(--color-principal), 0 0 10px var(--color-principal);
}
#logo{
    color: var(--color-principal);
    display: inline-block;
}
#header-title{
    font-family:Doto, Helvetica, sans-serif;
    color: var(--color-principal);
    font-size: 2rem;
    display: inline-block;
   
   
    

}


header>nav>ul{
    list-style-type: none;
    display: flex;
    padding-bottom: 15px;
    margin-right: 2vw;
}
.link {
    
    text-decoration: none;
    text-transform: uppercase;
    margin: 010px;
    color: var(--color-fuente-clara);
    font-size: large;
    transition: color 0.3s ease;
}
.link:hover{
    color:var(--color-principal);
    text-shadow: 0 0 5px var(--color-principal), 0 0 10px var(--color-fuente-oscura);
}

#download-programa{
    position: fixed;
    top:16vh;
    right:4vw;
}
.download-icon{
    color: var(--color-principal);
    font-size: 2rem;
    width: 4rem;
    text-align: center;
    color: var(--color-principal);
    border: 2px solid var(--color-principal);
    border-radius: 50%;
    padding: 10px;
    background-color: #2a2a2b7b;
}

/* estilos del main */
main{
    min-height: 83vh; 
 }
 
 /* estilos del footer */
footer{
    background-color: rgb(20, 20, 20); 
    color: var(--color-fuente-clara);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%;
    text-align: center;
    font-size: large;
    
}
footer>span{
    display: inline-block;
    margin-top: 10px;
}



