

#hero_section{   
    display: flex;
    align-items: center;
    justify-content: center;   
}
#hero_text_container{
    position: relative;
    margin-left: 120px;     
    color: var(--color-fuente-oscura);
    text-align: end;
    
}
#hero_text_container h2{
    font-size: 45px;
    margin-bottom: 12px;
}
#hero_text_container p{
    font-size: x-large;
    margin-bottom: 32px;
   
}
#hero_image_container img{
   margin: 100px;
   border-radius: 15px;   
}
#ver_button{
    text-decoration: none;
    background-color: rgb(233, 6, 214);
    padding: 12px;
    border: solid 1px var(--color-fuente-clara);
    border-radius: 8px;
    margin-top: 16px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
#ver_button:hover{  
    box-shadow: 0px 0px 8px 0px rgba(99, 98, 98, 0.75);
}
