/* archivo-colores.css */
:root {
    --color-principal: #2187d1;
    --color-fondo: #cdf4a6;
    --color-fuente-oscura: rgb(62, 61, 61);
    --color-fuente-clara: #e2e4e0;
    --color-fuente-clara-hover:#f5f5f8;
    --color-fondo-transparencia: rgba(62, 61, 61, 0.499);
  }
  
*{
    margin: 0;
    box-sizing: border-box;
    font-family:monospace ;    
}
/* Estilos del header */
header{
    position: fixed;
    width: 100%;
}

#encabezado_header{
    width: 100%;
    background-color:var(--color-principal); 
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: var(--color-fuente-clara);
    padding-bottom: 8px;    
}
#logo_titulo{
    display: flex;
    align-items: center;
    margin-left: 30px;
   
    }

    #header_icon{
        font-size: 35px;
        margin-right: 20px;
        color: var(--color-fuente-clara);
    }
#encabezado_header nav a{
    color: var(--color-fuente-clara);
    font-size: 15px;
    margin-right: 20px;    
    text-transform: uppercase;
}
#encabezado_header nav a:hover{
    color: var(--color-fuente-clara-hover);
}
#pie_header{
    background-color:var(--color-fuente-oscura);
    min-height: 40px ;
    display: flex; 
    justify-content: center;
    align-items: center; 
    color: var(--color-fuente-clara);

}
/* Estilos del main para todas las páginas */
main{
    background-color: var(--color-fondo);
    color: var(--color-fuente-oscura);
    
}