*{
    margin: 0;
    box-sizing: border-box;
    font-family:monospace ;
    
}
header{
    position: fixed;
    width: 100%;
}
#encabezado_header{
    background-color: rgb(127, 171, 228); 
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: #edf1e9;
    padding-bottom: 8px;    
}
#encabezado_header nav a{
    color: #edf1e9;
    font-size: 15px;
    margin-right: 20px;    
    text-transform: uppercase;
}
#encabezado_header nav a:hover{
    color: #656565;
}
main{
    background-color: #cdf4a6;
    color: rgb(62, 61, 61);
}