

.container {
    height: 200px;
    margin:0 25vw;
    background-color: rgba(255, 228, 196, 0.26);
    display: flex; /* Activa flexbox en el item */ 
    align-items: center; /* Centra el contenido del eje secundario */
    justify-content:center;  
    gap: 20px;
    flex-wrap: wrap;
    
    
}

  .item{
    flex-basis: 100px ;
   height: 100px;
    color:white;
    background-color: rgba(0, 0, 0, 0.245);
    border-radius: 10px;
    border:1px solid yellowgreen;  
    display: flex; /* Activa flexbox en el item */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */   
  }


  .item1{
    order:0;
    align-self: inherit;
    flex-grow: 0;
  }
  .item2{
    order:0;
    flex-grow: 0;
  }
  .item3{
    order:0;
    flex-grow: 0;
  }
  

.trivia-tema{
  font-weight: bold;
  color:var(--color-fuente-clara);
  padding: 25px 0 0;
  font-size: 1.6rem;
  text-align: center;
  text-shadow: 2px 2px 2px gray;
}

  fieldset {
    border: 2px solid rgb(250, 249, 249);
    padding: 10px;
    border-radius: 12px;
    width: 40%;
    margin: 25px 30%; 
    text-shadow: 2px 2px 2px gray; 
    color:var(--color-fuente-clara); 
}

legend {
    font-weight: bold;   
    padding: 0 10px;
    font-size: 1.3rem;    
}

label {
    display: block;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    
   
}

input[type="radio"] {
    margin-right: 10px;
    margin-left: 10px;  
    appearance: none;   
    width: 12px;
    height: 12px;
    border: 2px solid #868686;
    border-radius: 50%;    
    cursor: pointer;
    transition: 0.3s;
       
}
input[type="radio"]:checked {
  border-color: rgb(247, 243, 243);
  background-color: rgb(167, 248, 6);
}
footer{
position: static;
 
}