.trivia-tema{
  font-weight: bold;
  color:var(--color-fuente-oscura);
  padding: 25px 0 0;
  font-size: var(--fuente-dinamica-subtitulo);
  text-align: center;
  
}

  fieldset {
    border: 2px solid gray;
    padding: 10px;
    border-radius: 12px;
    width: 50%;
    margin: 25px auto;    
    color:var(--color-fuente-oscura);     
}

legend {
    font-weight: bold;   
    padding: 0 10px;
    font-size: var(--fuente-dinamica-subtitulo2);
}

label {
    display: block;
    margin: 10px 0;
    font-size:var(--fuente-texto);
    cursor: pointer;
    
   
}

input[type="radio"] {
    margin-right: 10px;
    margin-left: 10px;  
    appearance: none;   
    width: 12px;
    height: 12px;
    border: 2px solid #868686;
    border-radius: 50%;    
    cursor: pointer;
    transition: 0.3s;
       
}
input[type="radio"]:checked {
  border-color: rgba(88, 88, 88, 0.658);
  background-color: rgb(134, 247, 4);
}
.boton-container{
  width: 100vw;
  min-height: 12vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
#boton-enviar-resultados{
  background-color: var(--color-principal);
  font-size: var(--fuente-dinamica-subtitulo2);
  padding: 10px 20px;   
  border-radius: 5px;
  border: 1px solid blueviolet;
  min-width: 15vw;
  color:var(--color-fuente-oscura)

}

#resultado {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Fijo en la pantalla */
    top: 50%; /* Centrado verticalmente */
    left: 50%; /* Centrado horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste para centrar */
    background-color: #fff; /* Fondo blanco para destacar */
    padding: 20px; /* Espaciado interno */
    border: 2px solid #000; /* Borde para visibilidad */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
    text-align: center; /* Centrar el texto */
    z-index: 1000; /* Asegurarse de que esté encima de otros elementos */
    font-size: var(--fuente-texto);
    
  }
#resultado p{
  margin-bottom: 20px;
}
#resultado button{
  padding:3px 8px;
  background-color: rgba(153, 205, 50, 0.378);
}

footer{
position: static; 
}

@media (max-width: 767px){
fieldset{
  width: 80vw;
}
#boton-enviar-resultados{
 
}
  #resultado{
    width: 84vw;
   
  }
}