/* Estilo del header (menú principal) */
header {
    position: fixed;
    width: 100vw;
    top: 0;
    /* Asegura que el header se quede en la parte superior */
    z-index: 10;
    /* Para que esté por encima de otros elementos */
}

/* Ajustar el padding del scroll para que no se tape con el header */
html {
    scroll-padding-top: 100px;
}

#download-programa {
    display: initial;
}

/* Título de los contenidos */
#titulo-contenidos {
    text-align: center;
    font-size:var(--fuente-dinamica-subtitulo); 
    margin-top: 14vh;
    }

/* Estilos para las tarjetas (cards) */
#cards-section {
    width: 100vw;
    margin: 02vh 0;
    padding: 2vh 0px 2vh;
    display: flex;
    flex-wrap: wrap;
    /* Permite que las tarjetas se ajusten automáticamente */
    justify-content: center;
    gap: 20px
}

.card {}

.card a {
    width: 15vw;
    height: 15vw;
    text-decoration: none;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    background-color: rgba(61, 61, 60, 0.289);
    border-radius: 20px;
    color: var(--color-fuente-clara);
    box-shadow: 0px 0px 10px var(--color-principal);
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-fuente-clara);
    transition: transform 0.6s ease, box-shadow 0.3s ease;
    /* Añadimos transición */
}

/* Efecto de escala al pasar el mouse */
.card a:hover {
    transform: scale(1.03);
    /* Escala el tamaño al 110% */
    box-shadow: 0px 0px 18px 3px var(--color-principal) ;
    border-width: 1px;
}

.img-card {
    height: auto;
   max-width: 50%;  
   border-radius: 20px;    
}

.unidad-card {
     font-size: var(--fuente-dinamica-subtitulo2);
     text-shadow: var(--sombra-oscura);
     width: clamp(20ch, 2vw, 16ch);
text-align: center;
}


#cards-section>.card>a>p {
    display: none;
}


#modulo1 {
    padding-top: 4vh;
    text-align: center;
}

/* Sección de unidades (contenido de las tarjetas) */
#unidades>section>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#unidades h3 {
    padding: 18px;
    padding-top: 24px;
    font-size: 22px;
}

#unidades img {}

/* Estilos para la tabla */
table {
    width: 50vw;
    border: solid 1px grey;
    margin-left: 25%;
    font-size: 18px;
}

.clase {
    text-align: center;
}

.icono-video {
    color: red;
    font-size: 26px;
    background-color: rgba(240, 248, 255, 0.315);
}

/* Contenedor de recursos */
.recursos_container {
    align-items: center;
    padding: 10px;
}

/* Estilos del footer */
footer {
    margin-top: 27vh;
    position: static;
}

/* Media query para pantallas móviles, menores a 765px */
@media (max-width: 767px) {
    html {
        scroll-padding-top: 14vh;
        /* Ajustar el padding del scroll */
    }

    #cards-section {
        width: 100vw;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        /* Centrar las tarjetas en pantallas pequeñas */
        align-items: center;
    }

    .card a {
        width: 80vw;
        height: 30vw;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 8px;
        box-shadow: 0px 0px 5px 1px var(--color-principal);
    }

    #cards-section>.card>a>.img-card {
       width: 40px;
        height: 40px;
        /* Ajustar el tamaño de las imágenes */
        margin: 0 auto;
        /* Ajustar la alineación de las imágenes */
    }

    #cards-section>.card>a>.texto-card {
        display: none
    }

    table {
        width: 90vw;
        /* Hacer la tabla más ancha en pantallas pequeñas */
        margin-left: 5vw;
        /* Centrar la tabla */
    }

    #unidades h3 {
        font-size: 18px;
        /* Reducir el tamaño de los títulos de unidades */
    }

   
}




