

#pie_header nav a{
    min-height: 40px ;
    text-decoration: none;
    font-size:large;
    margin-left: 8px;
    color:var(--color-fuente-clara)
}
#pie_header nav a:hover{
    color: #c2f089;   
}
#modulo1{
    padding-top: 20vh; 
    text-align: center;
    }
section div{
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    font-size: 24px;
}
h3{
    
    padding:18px;
    padding-top: 24px;
    font-size: 22px;
}
table{
    width: 50vw; 
    border: solid 1px grey;
    margin-left: 25%;
    font-size: 16px;
}
.clase{    
    text-align: center;
}
