
#pie_header{
    background-color: rgb(84, 83, 83);
    min-height: 40px ;
    display: flex; 
    justify-content: center;
    align-items: center;  
}
#pie_header nav a{
    min-height: 40px ;
    text-decoration: none;
    font-size:large;
    margin-left: 8px;
    color: #edf1e9
}
#pie_header nav a:hover{
    color: #c2f089;   
}
#modulo1{
    padding-top: 20vh; 
    text-align: center;
    }
section div{
    display: flex; align-items: center;justify-content: center;
}

h3{
    padding: 20px;
}
table{
    width: 50vw; 
    border: solid 1px grey;
    margin-left: 25%;
}
.clase{    
    text-align: center;
}